@keyframes counter {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: translateY(-300%);
    opacity: 0;
  }
}
@keyframes hamster-pulse {
  50% {
    scale: .8;
  }
  100% {
    scale: 1;
  }
}