.navigation {
  display: flex;
  position: fixed;
  bottom: 2vh;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 308px;
  height: 60px;
  background: rgba(50, 54, 60, 0.7);

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    background: rgba(50, 54, 60, 0.7);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 65px;
    height: 48px;

    &-icon {
      color: white;
      opacity: .2;
    }
    &-name {
      font-weight: 500;
      font-size: 9px;
      line-height: 110%;
      letter-spacing: -0.02em;
      color: #fff;
      opacity: 0.5;
      margin-top: 5px;
    }
    &.active {
      background: #2124297F;
    }
  }
}