.notification {
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  z-index: 999;
  opacity: 0;
  animation: notify-slide 5s ease-out;

  &.info {
    border: 3px solid rgba(128, 171, 227, 0.4);
    background: radial-gradient(#444b61, #434f88);
    color: rgba(255, 255, 255, 0.79);
  }
  &.warning {
    border: 3px solid rgba(182, 69, 69, 0.4);
    background: radial-gradient(#676767, #886843);
    color: rgba(255, 255, 255, 0.79);
  }
  &.error {
    border: 3px solid rgba(244, 1, 1, 0.4);
    background: radial-gradient(#ae3e3e, #cf2525);
    color: rgba(255, 255, 255, 0.79);
  }
  &__main {
    padding: 5px;
  }
  &__type {
    display: flex;
    align-items: center;
  }
  &__message {
    font-size: 12px;
  }
}